.settings
target
etc/init.properties
profiles/local/init.properties
.DS_Store
.classpath
.project
.idea
*.vpp~*
*.vpp.working
*.iml
certs
logs
scripts/admin
all-production-servers.txt
MANIFEST.MF
logs
config.txt
docs
installer
packages
mvnw
mvnw.cmd
